.footer {
	background: #2e6ac3;
	margin-top: 100px;
	padding-top: 22px;
	@include md-d {
		margin-top: 70px;
		padding-top: 26px;
	}
	&__container {
		flex-wrap: nowrap;
		@include md-d {
			flex-wrap: wrap;
		}
	}
	a {
		color: #e0e0e0;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		&:hover {
			color: #fff;
		}
	}
	&__wrapper {
		@include md-d {
			order: 4;
			align-self: flex-start;
			margin-top: 43px;
		}
		p {
			margin-top: 29px;
			@include md-d {
				margin-top: 0;
			}
		}
	}
	&__logo {
		color: #fff;
		@include md-d {
			display: none;
		}
	}
	h3 {
		margin-top: 24px;
		color: #fff;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		@include md-d {
			margin-top: 0;
		}
	}
	&__nav-bar {
		display: flex;
		flex-direction: column;
		@include md-d {
			align-items: flex-start;
		}
	}
	&__nav {
		display: flex;
	}
	&__column {
		margin-top: 29px;
		display: flex;
		flex-direction: column;
		@include md-d {
			align-items: flex-start;
		}
		a {
			margin-top: 16px;
			&:first-child {
				margin-top: 0;
			}
		}
		&:last-child {
			margin-left: 61px;
		}
	}
	&__contact {
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		@include md-d {
			align-items: flex-start;
			margin-left: 0;
			margin-top: 40px;
		}
		h3 {
			margin-bottom: 29px;
		}
		a {
			margin-top: 16px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	&__social {
		display: flex;
		flex-direction: column;
		@include md-d {
			align-items: flex-start;
			margin-top: 40px;
		}
	}
	&__icon {
		margin-top: 29px;
		display: flex;
		a {
			margin-left: 35px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&__quote {
		font-size: 14px;
		line-height: 17px;
		color: #ffffff;

		&--visible {
			margin-top: 67px;
			margin-bottom: 59px;
			@include md-d {
				display: none;
			}
		}
		&--adaptive {
			align-self: flex-start;
			display: none;
			order: 5;
			@include md-d {
				display: block;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}
}
