.form {
	margin-top: 200px;
	@include md-d {
		margin-top: 70px;
	}
	&__registration {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__wrapper {
		max-width: 540px;
		margin: 0 auto;
		p {
			font-weight: 500;
			font-size: 20px;
			line-height: 25px;
			margin-top: 20px;
			margin-bottom: 0;
			@include md-d {
				font-size: 16px;
				line-height: 20px;
			}
		}
		input {
			margin-top: 10px;
			display: flex;
			width: 540px;
			height: 74px;
			background: #ffffff;
			box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.05);
			border-radius: 7px;
			font-weight: 500;
			font-size: 20px;
			line-height: 25px;
			color: #b8b8b8;
			padding-left: 30px;
			@include md-d {
				width: 290px;
				height: 57px;
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
	&__checkbox {
		margin-top: 25px;
		max-width: 540px;
		align-self: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #a8a8a8;
	}

	&__inner {
		margin: 90px 129px 0px 129px;
		display: flex;
		flex-direction: column;
		width: 100%;
		@include md-d {
			margin: 0px 20px 0px 20px;
		}
	}
	&__placeholder {
		padding: 14px 0px 13px 10px;
		width: 100%;
		align-self: center;
	}
	&__btn {
		margin-top: 50px;
		@include md-d {
			margin-top: 30px;
		}
	}
}
