.info {
	margin-top: 81px;
	margin-bottom: 200px;
	@include md-d {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap-reverse;
	}

	&__title {
	}
	&__text {
		margin-top: 51px;
		@include md-d {
			margin-top: 20px;
		}
		p {
			letter-spacing: 0.005em;
		}
	}
	&__paragraph {
		margin-top: 30px;
	}
}
