$headerTextColor: rgba(0, 0, 0, 0.7);
//ADAPTIVE header
$headerBurgerColor: #fafafa;

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: 0.15s linear;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__body {
		margin-top: 19px;
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex: 1 1;
		@include md-d {
			justify-content: space-between;
		}
	}

	&__burger {
		display: none;
	}
	&__logo {
		overflow: hidden;
		position: relative;
		z-index: 3;
		flex: 1 0 200px;
		margin-bottom: 5px;

		@include xl-d {
			flex: 0 0 180;
		}
		@include lg-d {
			flex: 0 1 140px;
		}
		@include sm-d {
			flex: 0 0 150px;
		}
	}

	&__menu {
		display: flex;
	}

	&__list {
		display: flex;
		align-items: center;
		position: relative;
		padding-top: 20px;
		z-index: 2;
		& li a {
			font-weight: 600;
			font-size: 14px;
			@include lg-d {
				font-size: 12px;
			}
			line-height: 17px;
			color: #e0e0e0;
			white-space: nowrap;
			&:hover {
				transition: all 0.3s ease;
				color: $accent;
			}
		}
		@include md-d {
			order: 1;
		}
	}
	&__link {
		margin-left: 42px;
		color: $headerTextColor;
	}
	&__btn {
		padding-top: 12px;
		margin-left: 74px;
		z-index: 100;
		position: relative;
		@include xl-d {
			margin-left: 22px;
		}
		@include lg-d {
			margin-left: 22px;
		}
		@include md-d {
			padding-top: 0;
			margin-left: 0;
			z-index: 1001;
			left: 60%;
			top: 20px;
			order: 0;
		}
		@include sm-d {
			left: 55%;
		}
		@include xs-d {
			left: 50%;
		}
	}
	&__translate {
		z-index: 3;
		display: flex;
		justify-content: center;

		margin-bottom: 6px;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #e0e0e0;

		&:hover {
			transition: all 0.3s ease;
			color: $accent;
		}

		@include md-d {
			margin-top: 15px;
			margin-right: 24%;
			order: 2;
			text-align: center;
			border-bottom: 1px solid #ededed;
			a,
			a:visited,
			a:active,
			a:focus {
				color: #62677d;
				font-weight: 500;
				line-height: 22px;
			}
		}
	}
	&__lang {
		display: flex;
		align-items: flex-end;
		margin-left: 37px;
		justify-content: center;
		@include lg-d {
			margin-left: 18px;
		}
		@include md-d {
			margin-bottom: 15px;
		}
		.header__link {
			margin-left: 10px;
		}
	}
	&__england {
		margin-left: 15px;
	}
	&__icon {
		order: 5;
		display: none;

		@include md-d {
			display: flex;
			justify-content: center;
			margin-right: 24%;

			svg {
				margin-left: 25px;
			}
		}
	}

	@include md-d {
		.header {
			&__body {
				margin-top: 25px;
				height: 40px;
			}

			&__burger {
				display: block;
				position: relative;
				width: 30px;
				height: 20px;
				z-index: 5;
				cursor: pointer;
			}
			&__burger span {
				position: absolute;
				background-color: $headerBurgerColor;
				left: 0;
				width: 100%;
				top: 9px;
				height: 2px;
				transition: all 0.3s ease 0s;
			}
			&__burger::before,
			&__burger::after {
				content: "";
				background-color: $headerBurgerColor;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&__burger::before {
				top: 0;
			}
			&__burger::after {
				bottom: 0;
			}

			&__burger.active {
				right: 65%;
				top: 28px;

				@include xs-d {
					right: 60%;
				}
			}
			&__burger.active span {
				transform: scale(0);
				background-color: #dadada;
			}
			&__burger.active::before {
				transform: rotate(45deg);
				top: 9px;
				background-color: #dadada;
			}
			&__burger.active::after {
				transform: rotate(-45deg);
				bottom: 9px;
				background-color: #dadada;
			}
			&__menu {
				position: fixed;
				right: -100%;
				top: 0;
				width: 100%;
				height: 100%;
				padding: 0px 15px 43px 0px;
				transition: all 0.3s ease 0s;
				overflow: auto;
			}
			&__menu.active {
				text-align: center;
				display: flex;
				flex-direction: column;
				top: 0;
				left: 25%;
				background: #fafafa;
				overflow-x: hidden;
				overflow: hidden;
				border-radius: 7px 0px 0px 7px;
			}
			&__list {
				margin-top: 57px;
				display: flex;
				flex-direction: column;
				@include md-d {
					margin-top: 20px;
				}
			}
			&__list li {
				margin-right: 18%;
				width: 100%;
				padding: 10px 0px 10px 0px;
				border-top: 1px solid #ededed;
				border-bottom: 1px solid #ededed;
			}
			&__list li a {
				color: #62677d;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
			}
			&__link {
				margin-left: 0;
				font-size: 30px;
				@include md-d {
					font-size: 18px;
				}
			}
		}
	}
}

@include xl-d {
	.header {
		&__link {
			margin-left: 19px;
		}
		&__contacts {
			margin-left: 30px;
		}
	}
}
@include lg-d {
	.header {
		&__body {
			height: 70px;
		}

		&__link {
			margin-left: 12px;
		}
		&__language {
			margin-left: 20px;
		}
		&__contacts {
			margin-left: 22px;
		}
	}
}
@include md-d {
	.header {
		&__active {
			margin-top: 0;
		}
		&__body {
			margin-top: 0;
		}
	}
}

.lock {
	overflow: hidden;
	.intro {
		filter: blur(10px);
		transform: scale(1.04);
	}
	.header__logo {
		z-index: 0;
		filter: blur(7px);
	}
	.header__body {
		height: 0;
	}
}
