.order {
	margin-top: 150px;
	@include md-d {
		margin-top: 65px;
	}
	.container {
		display: flex;
		flex-direction: column;
	}
	&__img {
		margin-top: 50px;
		margin-bottom: 80px;
		img {
			width: 100%;
		}
		@include md-d {
			margin-top: 40px;
			margin-bottom: 60px;
		}
	}
	&__btn {
		align-self: center;
	}
}
