.team {
	margin-top: 200px;
	@include md-d {
		margin-top: 70px;
	}
	&__remark {
		margin-top: 40px;
		margin-bottom: 70px;
		max-width: 538px;
		color: #5e5e5e;
		@include md-d {
			margin-top: 25px;
			margin-bottom: 25px;
			font-size: 14px;
			line-height: 22px;
		}
	}
	&__wrapper {
		&--second {
			margin-top: 55px;
		}
	}
	&__name {
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #474747;
		margin-top: 20px;
	}
	&__profession {
		font-size: 14px;
		line-height: 28px;
		color: #9c9c9c;
		margin-top: 5px;
	}
	&__text {
		font-size: 16px;
		line-height: 26px;
		color: #4b4b4b;
		margin-top: 10px;
	}
}
