.services {
	margin-top: 200px;
	@include md-d {
		margin-top: 70px;
	}
	&__remark {
		max-width: 689px;
		color: #999ba5;
		margin-top: 40px;
		@include md-d {
			font-size: 14px;
			line-height: 22px;
			margin-top: 25px;
		}
	}
	&__contain {
		position: relative;
		min-width: 0;
		margin-top: 60px;
		@include md-d {
			margin-top: 20px;
		}
	}
	&__content {
		background: #fff;
		border-radius: 7px;
		box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
		margin-bottom: 20px;
		@include md-d {
			margin: 0px 5px 15px 5px;
		}
	}
	&__wrapper {
		padding: 40px 30px 40px 30px;
		display: flex;
		margin-bottom: 20px;
		@include md-d {
			padding: 20px 25px 20px 25px;
		}
	}
	&__img {
		text-align: center;
		align-self: center;
		@include md-d {
			margin-top: 30px;
		}
	}
	&__wrapper {
		@include md-d {
			flex-wrap: wrap-reverse;
		}
	}
	&__upline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.005em;
		margin-bottom: 5px;
		@include md-d {
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
		}
	}
	&__num {
		visibility: hidden;
		@include md-d {
			visibility: visible;
			font-weight: bold;
			font-size: 25px;
			line-height: 123.9%;
			color: $remark;
			span {
				color: $accent;
			}
		}
	}
	p {
		position: relative;
		display: inline-block;
		margin-left: 30px;
		margin-top: 15px;
		margin-bottom: 0;
		&::before {
			content: "";
			display: block;
			position: absolute;
			background: url("/src/img/blue-line.png") no-repeat;
			height: 5px;
			width: 16px;
			left: -30px;
			top: 12px;
		}
		@include md-d {
			font-size: 14px;
			line-height: 22px;
		}
	}

	.slick-track {
		display: flex;
		align-items: flex-start;
		@include md-d {
			flex-wrap: wrap;
		}
	}
	.slick-slide {
		margin: 0 30px;
	}
	.slick-list {
		overflow: hidden;
		margin-left: -30px;
		margin-right: -30px;
	}
	.slick-dots {
		margin-top: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.slick-dots li {
		margin: 0 10px;
	}
	.slick-dots button {
		font-size: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $dotsCol;
	}
	.slick-dots li.slick-active button {
		background-color: $dotsActiveCol;
	}
}
