// 1. Colors
// ==========================================================================

$accent: #63a1fd;
$remark: #d2d3e8;
$h2-color: #383838;

body {
	background: #fafafa;
}

a,
a:active,
a:visited {
	color: #fff;
}
