@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}

h1 {
	font-weight: bold;
	@include adaptive-font(40, 25);
	line-height: 50px;
	color: #e0e0e0;
	@include sm-d {
		line-height: 31px;
	}
	span {
		color: $accent;
	}
}

h2 {
	font-weight: bold;
	font-size: 35px;
	line-height: 43px;
	color: $h2-color;
	margin-left: 30px;
}
.h2-title {
	display: flex;
}

.blue-line {
	margin-top: 3px;
	svg path {
		stroke: $accent;
	}
}
